body{
  background-color: rgb(255, 255, 255);
}
.navBar{
  display: flex;
  /* background-image:linear-gradient(rgb(253, 253, 253),black); */
  
}
.navBar a{
  margin: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border: 2px rgb(52, 0, 0) solid;
  border-radius: 10px;
  transition: 1s;
}
.navBar a:hover{
  transform: scale(1.1);
  box-shadow: 2px 3px 10px rgb(0, 0, 0);

}
.Home,.About{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.tableContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  

}
.table{
  box-shadow: 2px 3px 30px rgb(0, 0, 0);
  border-radius: 10px;
  height: 200px;
}
.oneElement{
  margin-bottom: 13px;
  transition: 1s;
}
.oneElement:hover{
  transform: scale(1.05);
  box-shadow: 2px 3px 10px rgb(6, 3, 84);
}
.oneElement a{
   display: flex;
   text-decoration: none;
   margin: 5px;
   font-family: Arial, Helvetica, sans-serif;
}
.oneElement a .Name{
  width: 180px;
  margin-right: 2px;
  border-bottom: 2px solid black;
}
.oneElement a .Price{
  width: 100px;
  margin-right: 2px;
  border-bottom: 2px solid black;
}
.oneElement a .Change{
  width: 150px;
  margin-right: 2px;
  border-bottom: 2px solid black;
}
.stockContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.Stock h3{
  display: flex;
}
.Stock span{
        display: block;
        width: 170px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: brown;

}
.Stock{
  box-shadow: 2px 3px 10px rgb(6, 3, 84);
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}

.stockContainer button{
  background-color: aliceblue;
  margin: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgb(2, 18, 4);
  transition: 1s;
  cursor: pointer;
}
.stockContainer button:hover{
  transform: scale(1.05);

}
.Follow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}